# Lab: Hypothesis Tests üìî‚ùî
In this lab, you will conduct hypothesis tests on the Hello Dataset! 

A few tips to remember:

- **You are not alone on your journey in learning programming!**  You have your lab TA, your CAs, your lab group, and the professors (Prof. Wade and Prof. Karle), who are all here to help you out!
- If you find yourself stuck for more than a few minutes, ask a neighbor or course staff for help!  When you are giving help to your neighbor, explain the **idea and approach** to the problem without sharing the answer itself so they can have the same **<i>ah-hah</i>** moment!
- We are here to help you!  Don't feel embarrassed or shy to ask us for help!

Let's get started!

In [2]:
# Meet your CAs and TA if you haven't already!
# ...first name is enough, we'll know who they are! :)
ta_name = "Yu Bao"
ca1_name = ""
ca2_name = ""
ca3_name = ""

# Say hello to each other!
# - Groups of 3 are ideal :)
# - However, groups of 2 or 4 are fine too!

# QOTD to ask your group: What is your favorite Thanksgiving dinner food?
partner1_name = "Eric"
partner1_netid = ""
partner1_favfood = ""

partner2_name = "Yide"
partner2_netid = ""
partner2_favfood = ""

partner3_name = ""
partner3_netid = ""
partner3_favfood = ""

# Which lab section are you in? Record it below! It should start with a Y and have 
# 2 numbers after the Y. If you're unsure - ask your TA/CAs!
lab_section = "Y17"

<hr style="color: #DD3403;">

# Part 1: Siblings!
Remember the Hello Survey you took towards the beginning of the semester? Well, we are bringing it back! We're going to conduct hypothesis tests using **the Hello Dataset**. Specifically, we will answer this question: 

> **Do UIUC students have a significantly different number of siblings compared to the average American?**

First, as always, we must import the Hello Dataset. 

The "Hello Dataset" is available here:
```
https://waf.cs.illinois.edu/discovery/hello-sp25.csv
```

Use Python to load this dataset into a DataFrame called `df_hello`:

In [3]:
import pandas as pd
import numpy as np
import math
from scipy import stats

df_hello = pd.read_csv("https://waf.cs.illinois.edu/discovery/hello-sp25.csv")
df_hello

,Name,Lab,Do you use light mode or dark mode on VS code?,Would you rather be able to run 100 mph or fly 10 mph?,Flip a coin: heads or tails?,Do you prefer warm or cold weather vacations?,Are you 19 or older?,"Is your last name alphabetically before ""Lin""?",Are you following @datascienceduo on instagram?,Are you a Cubs or White Sox fan?,...,"On average, how many squirrels do you think you see per week?",What year will you graduate?,What's your favorite social media app?,What is your dream job?,Who is your favorite musical artist?,What is your favorite course this semester?,Where is your dream vacation spot?,What is your favorite animal?,What is your favorite day of the week?,What's your favorite season?
0,Prof. Karle,NaN,Dark Mode,Run 100 mph,Heads,Warm,Yes,Yes,Yes,Cubs,...,15.0,2012.0,instagram,UIUC professor,Taylor Swift,Stat 107,Maldives,sloth,Friday,summer
1,Prof. Wade,NaN,Dark Mode,Run 100 mph,Tails,Cold,Yes,Yes,Yes,Cubs,...,25.0,NaN,YouTube,Professor,Taylor Swift,DISCOVERY!,Mountain Hikes,Dog,Friday,Fall
2,CA Ethan,Y18,Dark Mode,Fly 10 mph,Tails,Warm,Yes,No,Yes,Cubs,...,12.0,2027.0,Instagram,Healthcare Software Developer,"Tyler, The Creator",CS 374,Japan,Purple martin,Friday,Fall
3,Aadam,Y12,Dark Mode,Fly 10 mph,Tails,Warm,Yes,No,No,Cubs,...,5.0,2027.0,Instagram,Musician,Lil Uzi Vert,STAT 107,India,Dog,Saturday,Spring
4,Aadit,Y09,Dark Mode,Fly 10 mph,Tails,Warm,No,Yes,No,Cubs,...,50.0,2027.0,Instagram,Not sure yet,J. Cole,Linear Algebra,UP Michigan,Squirrel,Saturday,Summer
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
794,Zora,Y15,Dark Mode,Fly 10 mph,Heads,Warm,Yes,Yes,No,Sox,...,20.0,2028.0,Wechat,Employees of State-owned Enterprise,Taylor Swift,stat107,Egypt,rabbit,Saturday,summer
795,Nathan,Y04,Dark Mode,Run 100 mph,Tails,Warm,Yes,Yes,No,Cubs,...,15.0,2027.0,Tiktok,Something with stats,Kendrick lamar,Math 257,Hawaii,Dog,Friday,Summer
796,Brasen,Y15,Dark Mode,Run 100 mph,Heads,Warm,Yes,Yes,No,NaN,...,15.0,2028.0,TikTok,Makeup Artist,Awake,Adv 175,Bora Bora,Cheetah,Friday,Summer
797,Shaurya,Y13,Dark Mode,Run 100 mph,Tails,Warm,Yes,Yes,No,Cubs,...,3.0,2026.0,X,Quant,Drake,cs 341,Ibiza,dracula parrot,friday,Spring
798,Liam,Y07,Dark Mode,Run 100 mph,Tails,Warm,No,No,No,Sox,...,15.0,2028.0,TikTok,Sports Analyst,Young Thug,Stat107,Cayman Islands,Llama,Thursday,Summer

### üî¨ Test Case Checkpoint üî¨

In [4]:
## == CHECKPOINT TEST CASES ==
# - This read-only cell contains test cases for your previous cell.
# - If this cell runs without any errors, you PASSED 373all test cases!
# - If this cell results in any errors, check your previous cell, make changes, and RE-RUN your code and then this cell.
assert("df_hello" in vars()), "Make sure your DataFrame is called `df_hello`."
assert("How old were you when you stopped believing in Santa?" in df_hello), "This is not the Hello Dataset you're looking for. Check the URL."
assert(len(df_hello) == 799), "This is not the Hello Dataset you're looking for. Check the URL."

## == SUCCESS MESSAGE ==
# You will only see this message (with the emoji showing) if you passed all test cases:
tada = "\N{PARTY POPPER}"
print(f"{tada} All tests passed! {tada}")

üéâ All tests passed! üéâ

## Setting Up The Test
In a recent survey, it was reported that the average number of siblings Americans have is **2.0566**.  

To determine whether UIUC students have significantly more or less siblings than the average American, we will treat the **SPRING 2025 students in DISCOVERY** as a **random sample** of the student population at UIUC. Then, we will conduct a **one-sample z-test** to answer our question. 

Before we begin, we must define our hypotheses. Remember, the average number of siblings found in a recent study is **2.0566** siblings, and we want to determine if our random sample is **significantly different** from this average. 

**Q1: Write your null and alternative hypothesis using the cell below.** *Hint: you may find the following symbols useful for the alternative hypothesis: $\neq$, >, < (double-click on this cell to copy whichever one you need)*

*(‚úèÔ∏è Edit this cell to replace this text with your answer. ‚úèÔ∏è)*

## Puzzle 1.1: Summary Statistics
Now that we've defined our hypotheses, we will need to find some basic **summary statistics** about the **average number of siblings** students in DISCOVERY have before we conduct our **z-test**. Our `df_hello` contains the number of siblings that students in DISCOVERY have under the column named "How many siblings do you have?".

Assign this column name to a **string variable** named `siblings_question` using the cell below:

In [5]:
siblings_question = "How many siblings do you have?"

Now, find the **mean number of siblings** of everyone in DISCOVERY, storing the result in the **variable** `siblings_mean`:

In [6]:
siblings_mean = df_hello[siblings_question].mean()
siblings_mean

np.float64(1.4918648310387985)

Next, find the **standard deviation** of the number of siblings of everyone in DISCOVERY, storing the result in the **variable** `siblings_std`:

In [7]:
siblings_std = df_hello[siblings_question].std()
siblings_std

np.float64(1.2199763347687036)

Finally, find the **sample size** we're using for this z-test, storing the result in the **variable** `sample_size`. 

There's something a little tricky about the data we have in this column. Some people haven't filled out the answer to this captivating question, causing `NaN` (empty) values to appear. Dealing with **null values** is a **common occurrence** in data science. To exclude empty values when finding the sample size, the `.count()` function will be useful, as it excludes cells with NaN values when counting columns or rows.

In [8]:
sample_size = df_hello[siblings_question].count()
sample_size

np.int64(799)

### üî¨ Test Case Checkpoint üî¨

In [9]:
## == CHECKPOINT TEST CASES ==
# - This read-only cell contains test cases for your previous cell.
# - If this cell runs without any errors, you PASSED all test cases!
# - If this cell results in any errors, check your previous cell, make changes, and RE-RUN your code and then this cell.
import math
names = ['siblings_question', 'siblings_mean', 'siblings_std', 'sample_size']
for name in names:
    assert(name in vars()), "Double check that your variables are named correctly."

assert(isinstance(siblings_question, str)), "Make sure your `siblings_question` is a string."
assert(len(siblings_question) == 30), "Make sure the `siblings_question` contains the value of the siblings question."
assert(math.isclose(df_hello[siblings_question].var(), 1.4883422573956797)),"Double check the column question text you've defined in 'siblings_question'." 
assert(math.isclose(siblings_mean, 1.4918648310387985)), "Your 'siblings_mean' is incorrect."
assert(math.isclose(siblings_std, 1.2199763347687036)), "Your 'siblings_std' is incorrect."
assert(sample_size**2 / 8 == 79800.125), "Your 'sample_size' is incorrect. Make sure you are excluding empty values when finding the sample size."

## == SUCCESS MESSAGE ==
# You will only see this message (with the emoji showing) if you passed all test cases:
tada = "\N{PARTY POPPER}"
print(f"{tada} All tests passed! {tada}")

üéâ All tests passed! üéâ

## Puzzle 1.2: Finding our P-value
To find our p-value, we need to make sure to calculate the SE and our test statistic, z!

To begin, calculate the **standard error** of the number of siblings of DISCOVERY students, storing the result in the **numeric variable** `standard_error`.

In [10]:
standard_error = siblings_std / math.sqrt(sample_size)
standard_error

np.float64(0.04315966018261089)

Next, **calculate our test statistic** using the statistics you found previously, storing the result in the **numeric variable** `z_stat`. 

Remember that the average number of siblings Americans have is **2.0566**.

In [14]:
z_stat = (siblings_mean - 2.0566) / standard_error
z_stat

np.float64(-13.084791830421649)

Now that we've **calculated and stored** the necessary statistics, we can calculate the **p-value** and start drawing conclusions about our hypotheses. For the purposes of this lab, we will utilize a significance level of $0.05$. 

Make sure to remember whether we are doing a one-tailed or two-tailed z-test when finding your p-value! Find it and store our p-value in the **variable** `p_value`.

In [17]:
p_value = 2 * (stats.norm.cdf((z_stat)))
p_value

np.float64(4.02260712085467e-39)

### üî¨ Test Case Checkpoint üî¨

In [18]:
## == CHECKPOINT TEST CASES ==
# - This read-only cell contains test cases for your previous cell.
# - If this cell runs without any errors, you PASSED all test cases!
# - If this cell results in any errors, check your previous cell, make changes, and RE-RUN your code and then this cell.
names = ['standard_error', 'z_stat', 'p_value']
for name in names:
    assert(name in vars()), "Double check that your variables are named correctly."

assert(math.isclose(standard_error, 0.04315966018261089)), "Your 'standard_error' is incorrect."
assert(math.isclose(z_stat, -13.084791830421649)), "Your 'z_stat' is incorrect."
assert(math.isclose(p_value, 4.0226071208546704e-39, abs_tol=1e-39)), "Your 'p_value' is incorrect. Try and visualize the normal distribution and the areas to the left or right of your z_stat."

## == SUCCESS MESSAGE ==
# You will only see this message (with the emoji showing) if you passed all test cases:
tada = "\N{PARTY POPPER}"
print(f"{tada} All tests passed! {tada}")

üéâ All tests passed! üéâ

### Analysis: Interpretation 
**Q2: We have now calculated the p-value for our hypothesis test. Do we reject the null hypothesis? Explain why or why not. Explain what this means in the context of our original question: Do UIUC students have a significantly different number of siblings compared to the average American?**

**Make sure you answer *all* parts of this question.**  Remember, our significance level is $0.05$.

*(‚úèÔ∏è Edit this cell to replace this text with your answers. ‚úèÔ∏è)*

## Doing it in Python
We had to do a significant amount of calculations by hand to find our p-value. 

Luckily, Python has a few **libraries** which contain **functions** that allow us to conduct our hypothesis tests without doing the calculations by hand. 

Before we run these hypothesis test functions, we must **install** and `import` the library they belong to. 

To install the `statsmodels` library, try running any one of following commands in your **terminal** until successful installation:
- `python3 -m pip install statsmodels`
- `py -m pip install statsmodels`
- `pip install statsmodels`
- `pip3 install statsmodels`


Then, **run** the following `import` statement:

In [19]:
from statsmodels.stats.weightstats import ztest

This imports the `ztest()` function from the `statsmodels` library, allowing us to perform **z-tests** in Python. This function will take **three parameters** in the following order:
1. A `list` of sampled values, where a `df["column"]` is something that can be read as a list
2. The **expected value** of the null hypothesis, specified using `value=`
3. The **alternative hypothesis** to the null value (either 'two-sided', 'larger', or 'smaller', specified using `alternative=`)

To learn more about **z-test function**, visit: https://www.statsmodels.org/dev/generated/statsmodels.stats.weightstats.ztest.html

## Puzzle 1.3: z-test in Python
Now, let's run our z-test! Using the cell below, call the `ztest()` function to conduct our z-test and store the results in the variable `siblings_results`.

Use your knowledge about our **type of hypothesis test** and the **national sibling average** to fill in the `...`
- **IMPORTANT**: When doing the test, you must use `df["column"].dropna()` to make sure to not include any `NaN values` since this z-test function requires that there are no missing values.

In [20]:
siblings_results = ztest(df_hello[siblings_question].dropna(), value=2.0566, alternative='two-sided')
siblings_results

(np.float64(-13.084791830421649), np.float64(4.02260712085467e-39))

If you print `siblings_results`, it should be a pair of **two values** in the form of $(z, p)$ where $z$ is the test statistic and $p$ is the `p-value`. If done correctly, these values should be **almost identical** to what you calculated by hand.

### üî¨ Test Case Checkpoint üî¨

In [21]:
## == CHECKPOINT TEST CASES ==
# - This read-only cell contains test cases for your previous cell.
# - If this cell runs without any errors, you PASSED all test cases!
# - If this cell results in any errors, check your previous cell, make changes, and RE-RUN your code and then this cell.
assert('siblings_results' in vars()), "Double check your variable name for z-test result. It should be named 'siblings_results'."
assert(math.isclose(siblings_results[0], -13.084791830421649)), "The z-stat of your z-test is incorrect."
assert(math.isclose(siblings_results[1], 4.0226071208546704e-39, abs_tol=1e-39)), "The p-value of your z-test is incorrect."
assert(math.isclose(siblings_results[0], z_stat)), "Your z-stat from siblings_result should be equivalent to the 'z_stat' variable defined earlier."
assert(math.isclose(siblings_results[1], p_value, abs_tol=1e-39)), "Your p-value from siblings_result should be equivalent to the 'p-value' variable defined earlier."

## == SUCCESS MESSAGE ==
# You will only see this message (with the emoji showing) if you passed all test cases:
tada = "\N{PARTY POPPER}"
print(f"{tada} All tests passed! {tada}")

üéâ All tests passed! üéâ

<hr style="color: #DD3403;">

# Part 2: Which lecture has more siblings?

This semester there are 2 sections of Data Science DISCOVERY! One is at 10am and one is at 12pm. We are always curious if the students in the earlier class are different from the students in the later class! Let's say we think students in the 10am section have **less** siblings than the students in the 12pm section.

Do a second hypothesis test to determine if the number of siblings in the 10am section is less than the number of siblings in the 12pm section. 

To answer, we will perform a **one-sided two-sample z-test**. Two-sample z-tests compare two samples to each other and are very common in statistics!

### Defining Our Hypotheses
**Q3: Define the null and alternative hypotheses using the cell below.**

*(‚úèÔ∏è Edit this cell to replace this text with your answers. ‚úèÔ∏è)*

## Puzzle 2.1: Find the Columns
Now, let's run the our z-test! 

To make our code **simpler and readable**, in the next cell, create two variables for future column subselection from our `df_hello`:
1. A **string variable** named `section_question`, containing the **string**: "Are you in the 10am lecture for Stat 107 or the 12pm lecture?"
2. A **string variable** named `siblings_question`, containing the **string**:  "How many siblings do you have?"

In [22]:
section_question = "Are you in the 10am lecture for Stat 107 or the 12pm lecture?"
siblings_question = "How many siblings do you have?"

## Puzzle 2.2: Create a clean DataFrame

To do a two-sample z-test, every observation used **must contain data for BOTH** questions.  To clean up the DataFrame, we will need to do two steps:

1. Create a DataFrame that contains ONLY the two columns we're working with, AND
2. Drop any observations that have missing values in either column

First, create a DataFrame called `df_2columns` containing only the two columns you identified above:

*(If you need to refresh your memory on how to select multiple columns from a DataFrame, see our guide: ["Working With Columns and Series in a DataFrame", specifically the "Multiple Columns" section](https://discovery.cs.illinois.edu/guides/DataFrame-Fundamentals/working-with-columns-and-series-in-dataframes/#Creating-a-DataFrame-With-a-Subset-of-Columns).)*

In [23]:
df_2columns = df_hello[[section_question, siblings_question]]
df_2columns

,Are you in the 10am lecture for Stat 107 or the 12pm lecture?,How many siblings do you have?
0,NaN,2
1,NaN,2
2,NaN,1
3,10am Lecture,1
4,12pm Lecture,1
...,...,...
794,10am Lecture,0
795,12pm Lecture,1
796,10am Lecture,2
797,12pm Lecture,0
798,12pm Lecture,1

### Drop the Rows with Missing Data

Create a DataFrame called `df_clean`, by taking `df_2columns` and using `.dropna()` to drop all rows with missing data:

In [24]:
df_clean = df_2columns.dropna()
df_clean

,Are you in the 10am lecture for Stat 107 or the 12pm lecture?,How many siblings do you have?
3,10am Lecture,1
4,12pm Lecture,1
5,10am Lecture,1
6,12pm Lecture,1
7,12pm Lecture,1
...,...,...
794,10am Lecture,0
795,12pm Lecture,1
796,10am Lecture,2
797,12pm Lecture,0
798,12pm Lecture,1

### üî¨ Test Case Checkpoint üî¨

In [25]:
## == CHECKPOINT TEST CASES ==
# - This read-only cell contains test cases for your previous cell.
# - If this cell runs without any errors, you PASSED all test cases!
# - If this cell results in any errors, check your previous cell, make changes, and RE-RUN your code and then this cell.
assert('siblings_question' in vars()), "You must define the `siblings_question` question."
assert('section_question' in vars()), "You must define the `section_question` question."
assert('df_clean' in vars()), "Your new DataFrame should be named df_clean."

assert(isinstance(siblings_question, str)), "Make sure your `siblings_question` is a string."
assert(isinstance(section_question, str)), "Make sure your `section_question` is a string."

assert(siblings_question in df_clean), "Your DataFrame must contain the `siblings_question`."
assert(section_question in df_clean), "Your DataFrame must contain the `section_question`."
assert(len(df_clean.columns) == 2), "Your DataFrame must contain only two columns."

assert(math.isclose(df_clean[siblings_question].std(), 1.2268099666333623)), "Double check the column question text you've defined in 'siblings_question'." 

assert(df_clean[siblings_question].isnull().any() == False), "There are still NaN values in the siblings_question column."
assert(df_clean[section_question].isnull().any() == False), "There are still NaN values in the section_question column."

assert(len(df_clean) == 782), "Your DataFrame should contain exactly 782 rows after dropping data."

## == SUCCESS MESSAGE ==
# You will only see this message (with the emoji showing) if you passed all test cases:
tada = "\N{PARTY POPPER}"
print(f"{tada} All tests passed! {tada}")

üéâ All tests passed! üéâ

## Puzzle 2.3: Creating our Two Subpopulations

Now that we have cleaned our columns in `df_clean`, we can continue with our z-test setup. 

For this, we will consider the group of everyone who said they were in the **10am Lecture** and everyone who said they were in the **12pm Lecture**.

Using your `section_question` variable, create **two** new `DataFrames`: 
- `df_10am`, containing the rows from `df_clean` with students who are **10am Lecture**.
- `df_12pm`, containing the rows from `df_clean` with students who are **12pm Lecture**.

In [26]:
df_10am = df_clean[df_clean[section_question] == "10am Lecture"]
df_10am

,Are you in the 10am lecture for Stat 107 or the 12pm lecture?,How many siblings do you have?
3,10am Lecture,1
5,10am Lecture,1
13,10am Lecture,2
18,10am Lecture,5
20,10am Lecture,4
...,...,...
788,10am Lecture,1
791,10am Lecture,1
793,10am Lecture,0
794,10am Lecture,0
796,10am Lecture,2

In [27]:
df_12pm = df_clean[df_clean[section_question] == "12pm Lecture"]
df_12pm

,Are you in the 10am lecture for Stat 107 or the 12pm lecture?,How many siblings do you have?
4,12pm Lecture,1
6,12pm Lecture,1
7,12pm Lecture,1
8,12pm Lecture,3
9,12pm Lecture,0
...,...,...
790,12pm Lecture,0
792,12pm Lecture,3
795,12pm Lecture,1
797,12pm Lecture,0
798,12pm Lecture,1

In [28]:
## == CHECKPOINT TEST CASES ==
# - This read-only cell contains test cases for your previous cell.
# - If this cell runs without any errors, you PASSED all test cases!
# - If this cell results in any errors, check your previous cell, make changes, and RE-RUN your code and then this cell.
assert('df_10am' in vars()), "Your new DataFrame should be named df_10am."
assert('df_12pm' in vars()), "Your new DataFrame should be named df_12pm."
assert(len(df_10am) == 377), "Double check that your bounds for df_10am is correct."
assert(len(df_12pm) == 405), "Double check that your bounds for df_12pm is correct."

## == SUCCESS MESSAGE ==
# You will only see this message (with the emoji showing) if you passed all test cases:
tada = "\N{PARTY POPPER}"
print(f"{tada} All tests passed! {tada}")

üéâ All tests passed! üéâ

## Puzzle 2.4: Conducting the Hypothesis Test
Now we have the samples we need for our **two-sample z-test**.

Now, let's run the our z-test! Using the cell below, call the `ztest()` function to conduct our z-test and store the results in the variable `section_results`.

- Hint: See the documentation on the z-test to see how to do a two sample z-test if you forgot! It's very similar to the one-sample z-tests we did in the previous puzzles!  https://www.statsmodels.org/dev/generated/statsmodels.stats.weightstats.ztest.html
- When choosing the order of your lists and the `alternative` parameter for the `ztest()` function, know that your choice for the `alternative` parameter will be the relationship of your **first list** to your **second list**.

‚ùó ‚ùó This is now on YOU as a Data Scientist ‚ùó ‚ùó
- In STAT 207, you will have no test cases, so we want to get you ready for being a data scientist without the reliance of test cases.
- For this last piece of code, there is NO test case.
- Instead, it's up to you to make certain your answer is reasonable (ex: verify the average value of the two datasets support your conclusion, etc).  As noted, your `alternative` parameter will differ depending on the order of your lists.

In [29]:
section_results = ztest(df_10am[siblings_question], df_12pm[siblings_question], alternative='smaller')
section_results

(np.float64(-0.32692059089160797), np.float64(0.3718639733918849))

### Analysis: Interpretation 
**Q4: We have now calculated the p-value for our hypothesis test. Do we reject the null hypothesis? Why or why not? What does this mean in the context of our original statement that *Do the students in the 10am section have less siblings than the 12pm section*.**

Remember, our significance level is $0.05$.

*(‚úèÔ∏è Edit this cell to replace this text with your answers. ‚úèÔ∏è)*

<hr style="color: #DD3403;">

## Puzzle 3: How many classes are DISCOVERY students taking?

Let's explore another hypothesis test!

One question you answered in the Hello Survey is "*How many classes are you taking this semester?*"  You know that the professors think that DISCOVERY students are usually in 5 classes, but you think students are actually in **MORE** than just 5!

### Defining Our Hypotheses
**Q5: Define the null and alternative hypotheses using the cell below. Think about whether or not this is a one-sided or two-sided test.**

*(‚úèÔ∏è Edit this cell to replace this text with your answers. ‚úèÔ∏è)*

## Puzzle 3.1: Find the Column 

Assign the column name corresponding to the number of classes students are taking to a **string variable** named `classes_question` using the cell below:

In [32]:
classes_question = "How many classes are you taking this semester?"

## Puzzle 3.2: Conducting the Hypothesis Test

Now we have everything ready to conduct our **z-test**. 

Using the cell below, conduct the z-test to determine whether students at UIUC take **more than 5 classes per semester on average** and store the results in the variable `class_results`.

- **Remember**, when doing the test, you'll want to use `df["column"].dropna()` to make sure to not include any `NaN values` since this z-test requires that there are no missing values.
- You will need to use the `ztest` function. You may need to refer to the documentation to find out how to specify the correct alternative parameter (https://www.statsmodels.org/dev/generated/statsmodels.stats.weightstats.ztest.html).

In [33]:
class_results = ztest(df_hello[classes_question].dropna(), value=5, alternative='larger')
class_results

(np.float64(-0.24562483308563043), np.float64(0.5970136679914015))

### üî¨ Test Case Checkpoint üî¨

In [34]:
## == CHECKPOINT TEST CASES ==
# - This read-only cell contains test cases for your previous cell.
# - If this cell runs without any errors, you PASSED all test cases!
# - If this cell results in any errors, check your previous cell, make changes, and RE-RUN your code and then this cell.
assert(isinstance(classes_question, str)), "Make sure your `classes_question` is a string."
assert('class_results' in vars()), "Double check your variable name for z-test result. It should be named 'class_results'."
assert(math.isclose(class_results[0], -0.24562483308563043)), "The z-stat of your z-test is incorrect."
assert(math.isclose(class_results[1], 0.5970136679914015)), "The p-value of your z-test is incorrect."

## == SUCCESS MESSAGE ==
# You will only see this message (with the emoji showing) if you passed all test cases:
tada = "\N{PARTY POPPER}"
print(f"{tada} All tests passed! {tada}")

üéâ All tests passed! üéâ

### Analysis: Interpretation 
**Q6: We have now calculated the p-value for our hypothesis test. Do we reject the null hypothesis? Explain why or why not. Make sure to explain what this means in the context of our original question. Make sure you answer *all* parts of this question.** 

Remember, our significance level is $0.05$.

*(‚úèÔ∏è Edit this cell to replace this text with your answers. ‚úèÔ∏è)*

<hr style="color: #DD3403;">

# Submission

You're almost done!  All you need to do is to commit your lab to GitHub:

1.  ‚ö†Ô∏è **Make certain to save your work.** ‚ö†Ô∏è To do this, go to **File => Save All**

2.  After you have saved, exit this notebook and follow the Canvas instructions to commit this lab to your Git repository!

3. Your TA will grade your submission and provide you feedback after the lab is due. :)